.home-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.panel {
    border: 1px solid;
    border-radius: 14px;
    width: 25%;
    padding: 32px;
    margin: 24px;
    box-shadow: 4px 2px 2px 0 rgb(42 44 44 / 20%), 0px 1px 3px 3px rgb(42 44 44 / 20%);
}

.label{

}

.value {
    color: #0000ffab;
    font-size: 44px;
    text-align: center;
    font-weight: 500;
}